
.App {
  text-align: center;
  border: mediumblue groove;
}

.missionStatement {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: light-blue;
  border: solid;
}



.App-link {
  color: blue;
}

